---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
import { convertEmojiStrToTwiImage } from '../utils/string';
const pageTitle = "Blogs";
const allPosts = await getCollection("posts");
const pageDescription = "PostLists";
---
<Layout pageTitle={pageTitle} pageDescription={pageDescription}>
    <div class="gif">
        <img src="/.netlify/images?url=/images/blog.webp" role="presentation" width="300" height="259" decoding="async">
    </div>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        {
            allPosts.map((cardPost) => (
                <Card
                    url={`/posts/${cardPost.id}/`}
                    image={convertEmojiStrToTwiImage(cardPost.data.image.url).url}
                    title={cardPost.data.title}
                    body={cardPost.data.description}
                    pubDate={cardPost.data.pubDate}
                />
            ))
        }
    </ul>
</Layout>
