---
import BaseLayout from './Layout.astro';
import {Image} from "astro:assets";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.title}>
    <div class="gif">
        <Image width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>
    <h2>{frontmatter.title}</h2>
    <slot />
    <p>更新日 {frontmatter.pubDate}<p>
    <div class="center">
        <a href="/posts/">
            <button class="btn">My Posts</button>
        </a>
    </div>

</BaseLayout>
